<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="UTF-8"/>
<title>Shop</title>
<!--<link href="/static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>-->
<!--<script src="/static/js/bootstrap.js" type="application/javascript"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/esm/popper-utils.js"></script>-->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<style>
header{
display: block;
}
.jumbotron{
background-image: url(https://wallpaperaccess.com/full/695763.jpg);
text-align: center;
color: #fff;
background-repeat: no-repeat;
background-attachment: scroll;
background-position: center center;
background-size: cover;
height: 400px;

}
#naslov {
font-family: Impact, Charcoal, sans-serif;
color: rgb(63, 63, 63);
background-color: rgba(75, 75, 75, 0.23);
padding: 5px;
}
#naslov p{
margin: 25px;
}
#poz{
color: purple;
font-style: italic;
}
.navbar-expand-md .navbar-nav .nav-link{
padding-right: 30px;
padding-left: 30px;
}
.nav-link:hover{
background: #dfe0e1;
}
#navid{
padding: 0px;
}
.active {

    color: black;
    font-weight: bold;
}

</style>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-light">
<div class="container" id="navid">
<a class="navbar-brand" id="poz" href="/home">Make up</a>

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class=" collapse  navbar-collapse justify-content-end " id="navbarsExampleDefault">
<ul class="navbar-nav m-auto"  style="font-size: 15px;">
<li class="nav-item m-auto">
<a class="nav-link" href="/home" style="color: #484848; ">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/shop/customers" style="color: #484848;">Customers</a>
</li>
<li class="nav-item">
<a class="nav-link active" href="/shop" style="color: #484848;">Make up</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/shop/add-product" style="color: #484848;">Add Product <span class="sr-only">(current)</span></a>
</li>
    <li class="nav-item">
        <a class="nav-link" href="/shop/add-costumer" style="color: #484848;">Add Costumer <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/shop/add-category" style="color: #484848;">Add Category</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/shop/add-store" style="color: #484848;">Add Store</a>
    </li>
<li class="nav-item">
<a class="nav-link" href="contact" style="color: #484848;">Contact</a>
</li>
</ul>

</div>
</div>
</nav>
<header>
<section class="jumbotron text-center" >
<div class="container" id="naslov">
<h1 class="jumbotron-heading" style="font-style: italic; letter-spacing: 15px; ">MAKE UP</h1>
<p style="font-style: italic; color:#202020;">make up is art, beauty is spirit</p>
</div>
</section>
</header>


<div class="container mb-4">
<div class="row">
<div class="col-12">
<div class="table-responsive">
<table class="table table-striped">
<thead>
<tr style="font-style:italic; color: #838383;text-transform: uppercase">
    <th scope="col">Product</th>
    <th scope="col">Product name</th>
    <th scope="col">Price</th>
    <th scope="col">Category</th>
    <th scope="col"></th>
</tr>
</thead>
<tbody>
<tr th:each="t : ${products}">
<td><img th:src="${t.getImageBase64()}"/></td>
<td th:text="${t.getName()}"></td>
<td th:text="${t.getPrice()}"></td>
<td th:text="${t.getCategory() != null} ? ${t.getCategory().getName()} : 'No Category'"></td>

<td class="text-right">
<form th:action="@{/shop/{id}/delete(id=${t.getId()})}" th:method="delete">
<button type="submit" class="btn btn-sm btn-danger"><i class="fa fa-trash">Delete</i></button>
</form>
<a th:href="@{/shop/{id}/edit(id=${t.getId()})}" class="btn btn-sm btn-info"><i class="fa fa-trash">Edit</i></a>

</td>
</tr>
</tbody>
</table>

</div>
</div>
<div class="col mb-2">
<div class="row">
<div class="col-sm-12  col-md-12 text-center">
<a href="/shop/add-product" type="button" class="btn btn-outline-secondary">Add new product</a>
</div>
</div>
</div>
</div>
</div>

<!-- Footer -->
<footer class="text-black-50 bg-light page-section">
<div class="container">
<div class="row">
<div class="col-lg-12 text-center" style="padding: 100px;">
<h5>About</h5>
<hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
<p class="mb-0">
Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant
impression.
</p>
</div>



<div class="col-lg-12 text-center" style="padding: 100px;" >
<h5>Contact</h5>
<hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
<ul class="list-unstyled">
<li><i class="fa fa-home mr-2"></i> My company</li>
<li><i class="fa fa-envelope mr-2"></i> email@example.com</li>
<li><i class="fa fa-phone mr-2"></i> + 33 12 14 15 16</li>
<li><i class="fa fa-print mr-2"></i> + 33 12 14 15 16</li>
</ul>
<div></div>
</div>
<div class="col-12 copyright mt-3">
<p class="float-left">
<a href="#">Back to top</a>
</p>
<p class="text-right text-muted">created with <i class="fa fa-heart"></i> by <a
href="https://t-php.fr/43-theme-ecommerce-bootstrap-4.html"><i>t-php</i></a> |
<span>v. 1.0</span></p>
</div>
</div>
</div>
</footer>
</body>
</html>
